/* Replace these colors with YOUR palette values */
:root {
  --primary-green: #2e7d32;
  --light-green: #e8f5e9;
  --dark-green: #1b5e20;
  --text-dark: #2c2c2c;
  /* --background-gradient: linear-gradient(135deg, #e0f2f1, #f1f8e9); */
}

.learn-section {
  background: var(--background-gradient);
  padding: 20px 10px;
  font-family: "Segoe UI", sans-serif;
  margin-top:30px;
}

.learn-container .header-accent{
    height: 70px;
    margin-bottom: 30px;
}
.learn-container{
  max-width: 900px;
  margin: 0 120px;
}


.learn-container h1 {
  /* text-align: center; */
  color: black;
  margin-bottom: 15px;
  font-size: 2.9rem;
  font-weight: 700;
}

.intro {
  /* text-align: center; */
  color: #555;
  margin-bottom: 60px;
  font-size: 1.1rem;
}

.learn-card {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-left: 6px solid var(--primary-green);
}

.learn-card h2 {
  color: var(--primary-green);
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.learn-card p {
  color: var(--text-dark);
  line-height: 1.6;
}

.learn-card ul {
  padding-left: 20px;
  margin-top: 10px;
}

.learn-card ul li {
  margin-bottom: 8px;
  color: var(--text-dark);
}



.quote {
  text-align: center;
  font-style: italic;
  margin-top: 40px;
  color: var(--dark-green);
  font-size: 1.1rem;
}