body{
    margin: 0;
    padding: 0;
}
.about-container,
.calculator-container,
.dashboard-container,
.faq-container,
.history-container,
.home-container,
.learn-container,
.profile-container,
.recommendations-container,
.reports-container{
    padding: 20px;
}